@tailwind base;
@tailwind components;
@tailwind utilities;

.wmde-markdown img{
    width: 100%;
}

.wmde-markdown > ol > li {
    display: list-item;
    list-style: decimal !important;
}

.wmde-markdown > ul > li {
    display: list-item;
    list-style-type: disc !important;
}


section{
    background: url(/images/star-sky-1.png) repeat 0 0;
    animation: animate 4s infinite;
    animation-timing-function: linear;
}

@keyframes animate{
    100%{
        background-position: 1200px 1200px;
    }
}


@keyframes flickerAnimation { 
    0%   { opacity:0.9; }
    50%  { opacity:0.6; }
    100% { opacity:0.9; }
}
.animate-flicker {
    opacity:1;  
    animation: flickerAnimation 1s infinite;
}



@keyframes halfFlickerAnimation { 
    0%   { opacity:0.7; }
    50%  { opacity:0.5; }
    100% { opacity:0.7; }
}
.half-animate-flicker {
    opacity:0.7;  
    animation: halfFlickerAnimation 1s infinite;
}